.current-data-card .row {
    margin: 2rem 0 2rem 0;
}

#addGlobal fieldset, #addPage fieldset {
    margin-bottom: 2.5rem;
}

#addGlobal fieldset legend, #addPage fieldset legend {
    color: black;
}

#addGlobal fieldset .form-group, #addPage fieldset .form-group {
    margin: 2rem 0 2rem 0;
}

#addGlobal input, #addPage input {
    margin: 0.5rem 0 0.5rem 0;
}

/* the span above field labels contianing info about the field */
#addGlobal .section-title, #addPage .section-title, .section-title, .card-header .label {
    color: #2124B1;
}

#addGlobal label, #addPage label {
    display: block;
    color: black;
    font-weight:bold;
}

#addGlobal input[type="submit"], #addPage input[type="submit"] {
    margin-left: 0.5rem;
}



.clickable-record {
    cursor: pointer;
  }

  .fa-eye {
    font-size: 1.5rem;
  }

  .table {
    margin-top: 2rem;
    border-radius: 4px;
  }

  .table th {
    text-align: center;
    font-weight: bold;
    color: black;
  }
 

  .table td {
    text-align: center;
    color: #2124B1;
  }

  .current-data-card .card-footer a, .current-data-card .card-footer button {
    margin: 1rem;
    cursor: pointer;
}

