# DATABASE CONNECTION
DB_CONNECTION=mysqli # options: [mysqli, pdo, sqlite, pgsql]

# MySQL / PDO (MySQL)
DB_HOST=127.0.0.1
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=3306 # optional: 3306 for mysql or 5432 for pgsql (postgres)

DB_KEY=testOnlyKeyForPasswordHashing # Optional-only if your hashing method requires it, e.g. AES_ENCRYPT

# SQLite (used only when DB_CONNECTION=sqlite).
# SQLite needs ONLY one credential line-a file path.
# SQLite does not use DB_DATABASE as a name — it uses a file path.
# SQLite will work perfectly with this one line for local, staging, and production environments.
# This file-based path ensures data is stored on disk, and so is persisted. The other SQLite mode 
# is :memory, which is ephemeral (stores data in memory), which is fast but temporal. :memory is 
# only recommended for use in testing-which does not need any data persistence. 
# Just make sure you create the 'storage/database.sqlite', or the 'storage/' directory and 
# make it both writeable and readable. 
# Have no preceeding slash before 'storage'. 
DB_SQLITE_PATH=storage/database.sqlite

APP_ENV=local